.item {
    display: flex;
    align-items: center;
  }
  .link {
    margin-left: 10px;
    opacity: 1;
  }
  
  .icon {
    fill: var(--primary-color);
  }

  .collapsed {
    width: 80px;
  
    .link {
      opacity: 0;
      width: 0;
      transition: 0.2s opasity;
    }
  }