.button {
    cursor: pointer;
    color: var(--primary-color);


}

.clear {
    padding: 0;
    border: solid;
    background: red;
    outline: none;
}

.reload {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}