@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./reset.scss";
@import "../../shared/config/ui/Modal/Modal.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.main-page {
  display: flex;
}
